<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /sistema/sistema-restaurante/
    # DirectoryIndex index.php

    # Reenable after getting ssl cert
    # RewriteCond %{HTTPS} off
    # RewriteRule ^(.*)$ https://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

    # Removes access to the system folder by users
    RewriteCond %{REQUEST_URI} ^system.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    # When your application folder isn't in the system folder This snippet prevents user access to the application folder
    RewriteCond %{REQUEST_URI} ^application.*
    RewriteRule ^(.*)$ /index.php?/$1 [L]

    # Checks to see if the user is attempting to access a valid file, such as an image or css document, if this isn't true it sends the request to index.php

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond $1 !^(index\.php|css|less|js|images|robots\.txt)
    RewriteRule ^(.*)$ index.php?$1 [L]

    # Evitar navegar nas pastas do servidor

    RewriteOptions inherit
    Options -Indexes
</IfModule>

#BEGIN GZIP
<ifmodule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x- javascript application/javascript image/svg+xml svg image/svg+xml svgz
</ifmodule>
#END GZIP

#BEGIN CACHE
<filesMatch ".(css|jpg|jpeg|png|gif|js|ico|svg|woff)$">
Header set Cache-Control "max-age=31104000, public"
</filesMatch>
#END CACHE